.App {
  text-align: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container h1 {
  margin: 0 10px; /* Adjust spacing as needed */
}

.lifter_title {
  font-size: 3em;
  color: rgb(0, 0, 0);
}

.gpt_title {
  font-size: 2em;
  color: rgb(36, 197, 36);
} 


.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}